<!DOCTYPE html>
<html lang="es">
 
<head>
    <title>Aplicación Web</title>
 
 
</head>




 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">Mantenimiento</a></li>
<ul>
<li role="presentation" class="active"><a href="/mantUsuario">Mantenimiento Usuario</a>
                    </li>
<li role="presentation" class="active"><a href="/mantPaciente">Mantenimiento Paciente</a>
                    </li>
<li role="presentation" class="active"><a href="/mantServicio">Mantenimiento Servicio</a>
                    </li>
<li role="presentation" class="active"><a href="/mantMedico">Mantenimiento Medico</a>
                    </li>
</ul>
                    <li role="presentation" class="active"><a href="#">Programacion</a>
                    </li>
<ul>
                    <li role="presentation" class="active"><a href="/progrConsultorio">Programacion Consultorio</a>
                    </li></ul>
<li role="presentation" class="active"><a href="/crearCita">Cita Medica</a>
                    </li>
<li role="presentation" class="active"><a href="/logout">Salir</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Aplicación Web</h3>
        </div>


 <form class="form-signin" action="/eliminaCitaMedica" method="post">

        <label for="inputDNI" class="sr-only">DNI</label>
        <input type="name" name="inputDNI" id="inputDNI" class="form-control" placeholder="Ingresar DNI" required autofocus>

        <label for="inputPaciente" class="sr-only">NOMBRE DE PACIENTE</label>
        <input type="name" name="inputPaciente" id="inputPaciente" class="form-control" placeholder="Mostrar nombre">

        <label for="inputServ" class="sr-only">LISTA DE SERVICIOS</label>
        <input type="name" name="inputServ" id="inputServ" class="form-control" placeholder="Mostrar Servicios">

        <label for="inputMed" class="sr-only">LISTA DE MEDICOS</label>
	<input type="name" name="inputCMP" id="inputCMP" class="form-control" placeholder="Mostrar medicos segun servicio">
        <input type="name" name="inputMed" id="inputMed" class="form-control" placeholder="Mostrar medicos segun servicio">

        <label for="inputFech" class="sr-only">LISTA DE FECHAS HORA TURNO CUPOS</label>
        <input type="name" name="inputFech" id="inputFech" class="form-control" placeholder="Mostrar fecha,hora,turno,cupos">
	<input type="name" name="inputHor" id="inputHor" class="form-control" placeholder="Mostrar fecha,hora,turno,cupos">
	<input type="name" name="inputTurn" id="inputTurn" class="form-control" placeholder="Mostrar fecha,hora,turno,cupos">
	<input type="name" name="inputCup" id="inputCup" class="form-control" placeholder="Mostrar fecha,hora,turno,cupos">
         
        <button id="btnIn" class="btn btn-lg btn-primary btn-block" type="submit">Agregar Cita Medica</button>

      </form>


 <h1>{{error}}</h1>



        <div class="jumbotron">
            <h1>Usuarios: </h1>
 
        </div>
 
 
 
    </div>
</body>
 
</html>