<!DOCTYPE html>
<html lang="es">
  <head>
  <meta charset="UTF-8">  
    <title>Aplicación Web Clinica</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/css/style.css">
  </head>
 
  <body>
    <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://i.pinimg.com/originals/b0/14/83/b01483f04e120f3949d00dc75f135b52.png" alt="" width="60" height="60" class="d-inline-block align-top">
      Cita Medica
    </a>
      <a class="nav-item nav-link" href="/">Inicio</a>
      <a class="nav-item nav-link" href="/conocenos">Conocenos</a>
      <a class="nav-item nav-link" href="/cita">Citas</a>
      <a class="nav-item nav-link" href="/intranet">Intranet</a>
  </div>
</nav>
    <div class="contenedor-index">
      <div class="contenedor-index-izq">
        <h3>El tiempo lo es todo en la salud</h3>
        <p>Cita médica es la aplicación web perfecta para gestionar las especialidades de tu consultorio de forma integral, como ser citas, especialidades, doctores y muchos otros más.</p>
        <button class="btn btn-primary">Ingresar</button>
      </div>
      <div class="contenedor-index-der">
        <img src="https://c.stocksy.com/a/7sq600/z9/1633211.jpg" alt="">
      </div>
    </div>
  </body>
</html>