<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Aplicación Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/css/style.css">
</head>

 
<body>
 
    <div class="container-fluid" >
        <div class="header">

                <nav class="navbar navbar-light bg-light">
                    <div class="container">
                        <a class="navbar-brand" href="/">
                            <img src="https://i.pinimg.com/originals/b0/14/83/b01483f04e120f3949d00dc75f135b52.png" alt="" width="60" height="60" class="d-inline-block align-top">
                            Cita Medica
                        </a>
                        <a class="nav-item nav-link" href="/sistema">Menu Administrador</a>
                        <a class="nav-item nav-link" href="/progrConsultorio">Programacion</a>
                        <a class="nav-item nav-link" href="/crearCita">Crear cita</a>
                        <a class="nav-item nav-link" href="/logout">Salir</a>
                    </div>
                </nav>



        </div>

<div class="container mt-4">
    <form class="form-signin" action="/agregarPaciente" method="post">

        <label for="inputApeP" class="sr-only">Ape Pater</label>
        <input type="name" name="inputApeP" id="inputApeP" class="form-control" placeholder="Ingresar Apellido Paterno" required autofocus><p></p>

        <label for="inputApeM" class="sr-only">ApeMAter</label>
        <input type="name" name="inputApeM" id="inputApeM" class="form-control" placeholder="Ingresar Apellido Materno" required><p></p>

        <label for="inputNom" class="sr-only">Nom</label>
        <input type="name" name="inputNom" id="inputNom" class="form-control" placeholder="Ingresar Nombres" required><p></p>

        <label for="inputTipo" class="sr-only">Tipo</label>
        <input type="name" name="inputTipo" id="inputTipo" class="form-control" placeholder="Ingresar Tipo de documento" required><p></p>

        <label for="inputNumDoc" class="sr-only">Num doc</label>
        <input type="name" name="inputNumDoc" id="inputNumDoc" class="form-control" placeholder="Ingresar Numero Documento" required><p></p>

        <label for="inputTelf" class="sr-only">Num Telf</label>
        <input type="name" name="inputTelf" id="inputTelf" class="form-control" placeholder="Ingresar Numero Telefonico"><p></p>

        <label for="inputDir" class="sr-only">Dirc</label>
        <input type="name" name="inputDir" id="inputDir" class="form-control" placeholder="Ingresar Direccion"><p></p>

        <label for="inputDistr" class="sr-only">dis</label>
        <input type="name" name="inputDistr" id="inputDistr" class="form-control" placeholder="Ingresar Distrito"><p></p>

        <label for="inputFechNac" class="sr-only">fecnac</label>
        <input type="date" name="inputFechNac" id="inputFechNac" class="form-control" placeholder="Ingresar Fecha de Nacimiento" required><p></p>

        <label for="inputSex" class="sr-only">Sex</label>
        <input type="name" name="inputSex" id="inputSex" class="form-control" placeholder="Ingresar Sexo" required><p></p>

        <label for="inputTipSeg" class="sr-only">tipseguro</label>
        <input type="name" name="inputTipSeg" id="inputTipSeg" class="form-control" placeholder="Ingresar Tipo de Seguro" required><p></p>

        <label for="inputVig" class="sr-only">vigencia</label>
        <input type="date" name="inputVig" id="inputVig" class="form-control" placeholder="Ingresar Vigencia de Seguro" required>

        <button id="btnIn" class="btn btn-lg btn-primary btn-block my-4" type="submit">Agregar Paciente</button>

    </form>
</div>


        {% if error %}

        <div class="alert alert-danger" style="width: 30%; margin: 0 auto;" role="alert">
            {{error}}
        </div>

        {% endif %}

        {% if datos %}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Nombres</th>
                <th scope="col">Tipo de Documento</th>
                <th scope="col">Número de Documento</th>
                <th scope="col">Número Telefónico</th>
                <th scope="col">Dirección</th>
                <th scope="col">Distrito</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Sexo</th>
                <th scope="col">Tipo de seguro</th>
                <th scope="col">Vigencia de seguro</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td scope="row">{{datos[1]}}</td>
                <td>{{datos[2]}}</td>
                <td>{{datos[3]}}</td>
                <td>{{datos[4]}}</td>
                <td>{{datos[5]}}</td>
                <td>{{datos[6]}}</td>
                <td>{{datos[7]}}</td>
                <td>{{datos[8]}}</td>
                <td>{{datos[9]}}</td>
                <td>{{datos[10]}}</td>
                <td>{{datos[11]}}</td>
                <td>{{datos[12]}}</td>
            </tr>
            </tbody>
        </table>

        {% endif %}





    </div>
</body>
 
</html>