<!DOCTYPE html>
<html lang="es">
 
<head>
    <title>Aplicación Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/css/style.css">
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://i.pinimg.com/originals/b0/14/83/b01483f04e120f3949d00dc75f135b52.png" alt="" width="60" height="60" class="d-inline-block align-top">
            Cita Medica
        </a>
        <a class="nav-item nav-link" href="/sistema">Menu Administrador</a>
        <a class="nav-item nav-link" href="/progrConsultorio">Programacion</a>
        <a class="nav-item nav-link" href="/crearCita">Crear cita</a>
        <a class="nav-item nav-link" href="/logout">Salir</a>
    </div>
</nav>
    <div class="container">
        <div class="header">


        </div>


 <form class="form-signin mt-2 mb-2" action="/agregarServicio" method="post">

        <label for="inputCod" class="sr-only">Codigo</label>
        <input type="name" name="inputCod" id="inputCod" class="form-control" placeholder="Ingresar Codigo" required autofocus>

        <label for="inputNom" class="sr-only">Nombre</label>
        <input type="name" name="inputNom" id="inputNom" class="form-control" placeholder="Ingresar Nombre de Servicio" required>
         
        <button id="btnIn" class="btn btn-lg btn-primary btn-block mt-2 mb-2" type="submit">Agregar Servicio</button>

     {% if datos %}
     <table class="table">
         <thead>
         <tr>
             <th scope="col">Código</th>
             <th scope="col">Nombre del Servicio</th>
         </tr>
         </thead>
         <tbody>
         <tr>
             <td scope="row">{{datos[0]}}</td>
             <td>{{datos[1]}}</td>
         </tr>
         </tbody>
     </table>
     {% endif %}
      </form>

        {% if error %}

        <div class="alert alert-danger" style="width: 30%; margin: 0 auto;" role="alert">
            {{error}}
        </div>

        {% endif %}




 
 
    </div>
</body>
 
</html>