<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Aplicación Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/css/style.css">
</head>


<body>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://i.pinimg.com/originals/b0/14/83/b01483f04e120f3949d00dc75f135b52.png" alt="" width="60" height="60" class="d-inline-block align-top">
            Cita Medica
        </a>
        <a class="nav-item nav-link" href="/sistema">Menu Administrador</a>
        <a class="nav-item nav-link" href="/progrConsultorio">Programacion</a>
        <a class="nav-item nav-link" href="/crearCita">Crear cita</a>
        <a class="nav-item nav-link" href="/logout">Salir</a>
    </div>
</nav>
    <div class="container">

        <div class="header">


        </div>


 <form class="form-signin" action="/eliminaProgCons" method="post">

        <label for="inputCMP" class="sr-only">Nombre</label>
        <input type="name" name="inputCMP" id="inputCMP" class="form-control" placeholder="Ingresar Nombre del Medico" required autofocus>

        <label for="inputFec" class="sr-only">Codigo</label>
        <input type="date" name="inputFec" id="inputFec" class="form-control" placeholder="Ingresar Fecha de atencion" required>

        <label for="inputHor" class="sr-only">Codigo</label>
        <input type="name" name="inputHor" id="inputHor" class="form-control" placeholder="Ingresar Hora de atencion" required>

        <label for="inputTur" class="sr-only">Codigo</label>
        <input type="name" name="inputTur" id="inputTur" class="form-control" placeholder="Ingresar Turno" required>

        <label for="inputCup" class="sr-only">Codigo</label>
        <input type="name" name="inputCup" id="inputCup" class="form-control" placeholder="Ingresar Cupos" required>
         
        <button id="btnIn" class="btn btn-lg btn-primary btn-block" type="submit">Agregar Programacion</button>

      </form>


        {% if error %}

        <div class="alert alert-danger" style="width: 30%; margin: 0 auto;" role="alert">
            {{error}}
        </div>

        {% endif %}

        {% if datos %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre del médico</th>
                <th scope="col">Fecha de atención</th>
                <th scope="col">Hora de atención</th>
                <th scope="col">Turno</th>
                <th scope="col">Cupos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">{{datos[0]}}</td>
                <td>{{datos[1]}}</td>
                <td>{{datos[2]}}</td>
                <td>{{datos[3]}}</td>
                <td>{{datos[4]}}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
 
 
    </div>
</body>
 
</html>