<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Aplicación Web Clinica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./../static/css/style.css">
    
 
</head>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.pinimg.com/originals/b0/14/83/b01483f04e120f3949d00dc75f135b52.png" alt="" width="60" height="60" class="d-inline-block align-top">
        Cita Medica
      </a>
        <a class="nav-item nav-link" href="/sistema">Menu Administrador</a>
        <a class="nav-item nav-link" href="/progrConsultorio">Programacion</a>
        <a class="nav-item nav-link" href="/crearCita">Crear cita</a>
        <a class="nav-item nav-link" href="/logout">Salir</a>
    </div>
  </nav>



 
<body>
 
    <div class="container">
        
        <table class="table" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">Mantenimiento</th>
                <th scope="col">Programación</th>
                <th scope="col">Cita</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><a class="btn btn-primary" href="/mantUsuario">Mantenimiento Usuario</a></th>
                <td><a class="btn btn-primary" href="/progrConsultorio">Programacion Consultorio</a></td>
                <td><a class="btn btn-primary" href="/crearCita">Cita Medica</a></td>
                
              </tr>
              <tr>
                <th scope="row"><a class="btn btn-primary" href="/mantPaciente">Mantenimiento Paciente</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row"><a class="btn btn-primary" href="/mantServicio">Mantenimiento Servicio</a></th>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row"><a class="btn btn-primary" href="/mantMedico">Mantenimiento Medico</a></th>
                <td></td>
                <td></td>
                
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                
              </tr>
            </tbody>
          </table>
        
        
        
        
        
        
        
        
 
    </div>
</body>
 
</html>